/* standalone colors */
$blue: #1D8AF9;
$light-blue: #37B6F8;
$green: #00BD6D;
$green: #00BD6D;
$light: #FFFFFF;

/* template colors */
$app-background-primary: #ececec;
$app-background-secondary: #23354B;